<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		
		
		
<table border="1"  width="100%">
    <tr>
        <th>Name</th>
        <th>Town</th>
        <th>Address</th>
        <th>tel</th>
        <th>tickets</th>
        <th>introduce</th>
        <th>picture</th>
        
    </tr>  
  <tr th:each="travel : ${travel}">
    <td th:text="${travel.name}"></td>
    <td th:text="${travel.town}"></td>
    <td th:text="${travel.address}"></td>
    <td th:text="${travel.tel}"></td>
    <td th:text="${travel.ticket}"></td>
    <td th:text="${travel.introduce}"></td>
    <td th:text="${travel.picture}"></td>  
  </tr>
  
  <a th:href="@{${index}}">回首頁</a>

</table>
		
</body>
</html>