<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/register.css">
    <script src="../static/js/register.js"></script>
    <title>註冊</title>
</head>
<body>
    <div class="wrap">
        <a class="btn popup-btn" href="#letmeopen">打開popup視窗</a>
      </div>
      <div class="popup-wrap" id="letmeopen">
        <div class="popup-box transform-out">
          <h2>標題請下在這裡</h2>
          <h3>內容可以打很多在這裡</h3>
          <a class="close-btn popup-close" href="#">x</a>
        </div>
      </div>    
</body>
</html>